{% load static %}

<div class="comment" id="comment-{{ comment.id }}">
    <div class="comment-header">
        <img src="{{ comment.user.avatar.url }}" alt="Profile Image" class="profile-img">
        <a href="{% url 'user-detail' pk=comment.user.pk %}" class="comment-link">{{ comment.user.username }}</a>
        at {{ comment.created_at }}
    </div>

    <p class="comment-text">{{ comment.text }}</p>

    {% if comment.image %}
        <div class="comment-media">
            <img src="{{ comment.image.url }}" alt="Comment Image" class="comment-img">
        </div>
    {% endif %}

    {% if comment.file %}
        <div class="comment-file">
            <a href="{{ comment.file.url }}" target="_blank">{{ comment.file.name }}</a>
        </div>
    {% endif %}

    <button type="button" class="btn btn-primary" onclick="showReplyForm({{ comment.id }})">Reply</button>
    <div id="reply-form-{{ comment.id }}" style="display:none;"></div>

    {% if comment.replies.exists %}
        <div class="replies">
            {% for reply in comment.replies.all %}
                {% include "dashboard/comment_tree.html" with comment=reply %}
            {% endfor %}
        </div>
    {% endif %}
</div>
