{% for reply in replies %}
    <div class="comment">
        <div class="comment-header">
            <img src="{{ comment.user.avatar.url }}" alt="Profile Image" class="profile-img">
            <a href="#" class="comment-link">{{ reply.user.username }}</a>
            at {{ reply.created_at }}
        </div>
        <p class="comment-text">{{ reply.text }}</p>
        {% if reply.reply_count %}
            <button
                id="comment-button-{{ reply.id }}"
                class="comment-button"
                onclick="loadReplies({{ reply.id }})"
                data-id="{{ reply.id }}">
                Show {{ reply.reply_count }} replies
            </button>
            <div id="replies-{{ reply.id }}" class="replies" style="display: none;"></div>
        {% endif %}
    </div>
{% empty %}
    <p class="no-replies">No replies yet</p>
{% endfor %}
