{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="comments-header">
        <h1>Comments</h1>
        <div class="order-buttons">
            <a href="?order_by=username&sort_order={{ next_sort_order }}" class="order-button">Order by Username</a>
            <a href="?order_by=email&sort_order={{ next_sort_order }}" class="order-button">Order by Email</a>
            <a href="?order_by=created_at&sort_order={{ next_sort_order }}" class="order-button">Order by Date</a>
        </div>
    </div>

    <div id="reply-form-template" style="display:none;">
        <form method="post" action="">
            {% csrf_token %}
            {{ comment_form.text }}
            <div class="captcha">{{ comment_form.captcha }}</div>
            <input type="hidden" name="parent" value="">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    {% for comment in comments %}
        {% include "dashboard/comment_tree.html" with comment=comment %}
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&{{ current_query_params }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&{{ current_query_params }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&{{ current_query_params }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&{{ current_query_params }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <!-- Include JavaScript at the end of the body -->
    <script src="{% static 'js/scripts.js' %}" defer></script>

    {% if fragment_identifier %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const fragment = "{{ fragment_identifier|escapejs }}";
            if (fragment) {
                const targetElement = document.querySelector(`#${fragment}`);
                if (targetElement) {
                    targetElement.style.display = "block";
                    targetElement.scrollIntoView({ behavior: "smooth", block: "start" });
                }
            }
        });
    </script>
    {% endif %}
{% endblock %}
